section.gitContainer {
    margin: 3rem;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr, 1fr, 2fr;
    gap: 2rem;
    margin: 3rem auto;

    .name {
        font-size: 2rem;
        line-height: 0.5rem;
        color: white;
        font-weight: bold;
    }

    .avatar {
        min-width: 50px;
        height: 50px;
    }
    
    .separator {
        margin: 4rem;
    }
    
    ul {
        list-style: none;

        li {
            & + li {
                margin-top: 2rem;
            }

            img {
                height: 10px;
                max-width: 10px;
            }

            a {
                font-size: 1.7rem;
                text-decoration: none;
                color: white;
            }
        }
    }
}
