section.gitContainer {
    margin: 3rem;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(1fr, 1fr);

    .name {
        font-size: 2rem;
        line-height: 0.5rem;
        color: white;
        font-weight: bold;
        margin: 1rem;
    }
    
    a {
        font-size: 1.7rem;
        text-decoration: none;
        color: white;
    }
    
    .separator {
        margin: 2.9rem;
    }

    ul {
        list-style: none;
        
        li {
            & + li {
                margin-top: 2rem;
            }
            
            img {
                min-width: 50px;
                height: 50px;
            }

        }
    }
}

